version: 2.1
jobs:
  run-test:
    docker:
      - image: ubuntu
    steps:
      - execute-run
commands:
  execute-run:
    steps:
      - run: apt update
      - run: apt install git-all
      - run: git clone https://github.com/Pipeboard/Pipeboard.git ./
      - run: apt install -y curl
      - run: curl -sL https://deb.nodesource.com/setup_14.x | bash
      - run: apt install -y nodejs
      - run: npm install
      - run: npm run circleci_test
workflows:
   version: 2
   test:
     jobs:
       - run-test
