version: 2.1
jobs:
  run-test:
    docker:
      - image: ubuntu
    steps:
      - prep-test
      - execute-test
commands:
  prep-test:
    steps:
      - run: apt-get update
      - run: apt-get install -y wget
      - run: wget -qO- https://raw.githubusercontent.com/nvm-sh/nvm/v0.37.2/install.sh | bash
      - run: export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
      - run: nvm install node
      - run: npm install
  execute-test:
    steps:
      - run: npm run circleci_test
workflows:
   version: 2
   test:
     jobs:
       - run-test
