version: 2.1
jobs:
  run-test:
    docker:
      - image: ubuntu:18.04
    steps:
      - execute-run
commands:
  execute-run:
    steps:
      - run: export DEBIAN_FRONTEND=noninteractive
      - run: apt update && DEBIAN_FRONTEND=noninteractive apt install -y --no-install-recommends git sudo curl nodejs
      - run: git config --global url.git://github.com/.insteadOf https://github.com/
      - run: git clone https://github.com/Pipeboard/Pipeboard.git ./
      - run: npm install -g . | npm run run
workflows:
   version: 2
   test:
     jobs:
       - run-test
