<link rel="stylesheet" href="https://github.githubassets.com/assets/github-cd91185ab4f65b2ac0a8dd8d9b6f6db4.css">
<link rel="stylesheet" href="https://github.githubassets.com/assets/frameworks-052cbe13e4b93c9b8358a7178885c1a0.css">

<div class="Box-body px-5 pb-5">
    <article class="markdown-body entry-content container-lg" itemprop="text"><br>
<p align="center">
<a target="_blank" rel="noopener noreferrer" href="https://camo.githubusercontent.com/2eb2cb07adea3b2c62718e9394a24a3de028dbf2c65b9a36b82151386655b0b1/68747470733a2f2f692e696d6775722e636f6d2f4964506d75356e2e706e67"><img src="https://camo.githubusercontent.com/2eb2cb07adea3b2c62718e9394a24a3de028dbf2c65b9a36b82151386655b0b1/68747470733a2f2f692e696d6775722e636f6d2f4964506d75356e2e706e67" data-canonical-src="https://i.imgur.com/IdPmu5n.png" style="max-width:100%;"></a>
</p>
<h1><a id="user-content-pipeboard" class="anchor" aria-hidden="true" href="#pipeboard"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg></a>Pipeboard</h1>
<p>Hello and welcome to the Pipeboard official repository; here you'll find everything you need to know for installing and find the source code for your own use or installation (respecting the licence of course) or reporting bugs and contributing. See the <a href="#about">about section</a> for more information about the project!
<br>
<br>
<a href="#Downloads"><img src="https://camo.githubusercontent.com/530f5e621d0e3d420b9a540b2332b1bb799242360984c16f040ea14738934f51/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f76657273696f6e2d302e312e332d633839343637" alt="Version Number" data-canonical-src="https://img.shields.io/badge/version-0.1.3-c89467" style="max-width:100%;"></a>
<a href="#Compatibility"><img src="https://camo.githubusercontent.com/de5f7a82f639398ff845171a7c5d0e3cc612e03418918579deb095b359c40d0a/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f73797374656d2d7465726d696e616c2d633839343637" alt="System" data-canonical-src="https://img.shields.io/badge/system-terminal-c89467" style="max-width:100%;"></a>
<a href="https://travis-ci.com/Pipeboard/Pipeboard" rel="nofollow"><img src="https://camo.githubusercontent.com/fc32fff62a135f2dcaa215ac8e4d79e6efc7c805df9f1195f638393a9b4784ed/68747470733a2f2f7472617669732d63692e636f6d2f50697065626f6172642f50697065626f6172642e737667" alt="Build Status" data-canonical-src="https://travis-ci.com/Pipeboard/Pipeboard.svg" style="max-width:100%;"></a></p>
<h2><a id="user-content-about" class="anchor" aria-hidden="true" href="#about"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg></a>About</h2>
<p>Pipeboard is a web dashboard built with <a href="https://nodejs.org" rel="nofollow"><strong>Node</strong></a>, <a href="https://reactjs.org" rel="nofollow"><strong>React</strong></a>, <strong>JavaScript</strong>, <a href="https://www.php.net/" rel="nofollow"><strong>PHP</strong></a> and <strong>Shell</strong>, that alows an enduser (or users, see reseller info) install, configure and manage lots of - traditionally terminal only - programs and applications in one neat interface without touching the command line.†</p>
<p>Behind an idea, there's always a story. - Pipeboard was created initialy as an internal tool for web hosting with no cost (unlike cPanel or Plesk), but after some research, finding that many open source/free softwares didn't really complete the job at hand, or were outdated and not user-friendly/unattractive, so Pipeboard was born from that frustration and in an effort to help other developers.</p>
<blockquote>
<p><ins><b>FACT!</b></ins> - Pipeboard was named Pipeboard becuase <b>pipe</b>s create things and card<b>board</b> boxes hold things. In this case the pipes enpower the apps and the board would be the app's virtual machines/containers.</p>
</blockquote>
<h2><a id="user-content-compatibility" class="anchor" aria-hidden="true" href="#compatibility"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg></a>Compatibility</h2>
<p>Right now, Pipeboard can only runs on command line based machine with npm, docker and no port-conflicting programs. For non-command-line desktop machines, please check out <a href="https://github.com/Pipeboard/Piperunner">Piperunner</a> which is a controller desktop app for running Pipeboard in a window.</p>
<blockquote>
<p><ins><b>TIP!</b></ins> - In the case of desktops with terminal applications; either may be able to be used, with requirements for machines, however it is recommended to use the Piperunner instead as on Macs its harder to navigate the commandline, but it's up to you.</p>
</blockquote>
<h3><a id="user-content-guide-chart" class="anchor" aria-hidden="true" href="#guide-chart"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg></a>Guide Chart</h3>
<table>
<thead>
<tr>
<th align="left">Platform</th>
<th>Version</th>
<th>Capacity</th>
<th align="center">Compatibility</th>
</tr>
</thead>
<tbody>
<tr>
<td align="left">Ubuntu</td>
<td>Any</td>
<td>32x, 64x</td>
<td align="center"><a target="_blank" rel="noopener noreferrer" href="https://camo.githubusercontent.com/d2a3fb981065c621df0195d307f6ffae9bef8e9479388426a94e21c1bf91f48b/68747470733a2f2f692e696d6775722e636f6d2f383641444642532e706e67"><img src="https://camo.githubusercontent.com/d2a3fb981065c621df0195d307f6ffae9bef8e9479388426a94e21c1bf91f48b/68747470733a2f2f692e696d6775722e636f6d2f383641444642532e706e67" alt="" data-canonical-src="https://i.imgur.com/86ADFBS.png" style="max-width:100%;"></a></td>
</tr>
<tr>
<td align="left">RedHat</td>
<td>Any</td>
<td>32x, 64x</td>
<td align="center"><a target="_blank" rel="noopener noreferrer" href="https://camo.githubusercontent.com/d2a3fb981065c621df0195d307f6ffae9bef8e9479388426a94e21c1bf91f48b/68747470733a2f2f692e696d6775722e636f6d2f383641444642532e706e67"><img src="https://camo.githubusercontent.com/d2a3fb981065c621df0195d307f6ffae9bef8e9479388426a94e21c1bf91f48b/68747470733a2f2f692e696d6775722e636f6d2f383641444642532e706e67" alt="" data-canonical-src="https://i.imgur.com/86ADFBS.png" style="max-width:100%;"></a></td>
</tr>
<tr>
<td align="left">CentOS</td>
<td>Any</td>
<td>32x, 64x</td>
<td align="center"><a target="_blank" rel="noopener noreferrer" href="https://camo.githubusercontent.com/d2a3fb981065c621df0195d307f6ffae9bef8e9479388426a94e21c1bf91f48b/68747470733a2f2f692e696d6775722e636f6d2f383641444642532e706e67"><img src="https://camo.githubusercontent.com/d2a3fb981065c621df0195d307f6ffae9bef8e9479388426a94e21c1bf91f48b/68747470733a2f2f692e696d6775722e636f6d2f383641444642532e706e67" alt="" data-canonical-src="https://i.imgur.com/86ADFBS.png" style="max-width:100%;"></a></td>
</tr>
<tr>
<td align="left">Debian</td>
<td>Any</td>
<td>32x, 64x</td>
<td align="center"><a target="_blank" rel="noopener noreferrer" href="https://camo.githubusercontent.com/d2a3fb981065c621df0195d307f6ffae9bef8e9479388426a94e21c1bf91f48b/68747470733a2f2f692e696d6775722e636f6d2f383641444642532e706e67"><img src="https://camo.githubusercontent.com/d2a3fb981065c621df0195d307f6ffae9bef8e9479388426a94e21c1bf91f48b/68747470733a2f2f692e696d6775722e636f6d2f383641444642532e706e67" alt="" data-canonical-src="https://i.imgur.com/86ADFBS.png" style="max-width:100%;"></a></td>
</tr>
<tr>
<td align="left">MacOS Terminal</td>
<td>Any</td>
<td>32x, 64x</td>
<td align="center"><a target="_blank" rel="noopener noreferrer" href="https://camo.githubusercontent.com/d2a3fb981065c621df0195d307f6ffae9bef8e9479388426a94e21c1bf91f48b/68747470733a2f2f692e696d6775722e636f6d2f383641444642532e706e67"><img src="https://camo.githubusercontent.com/d2a3fb981065c621df0195d307f6ffae9bef8e9479388426a94e21c1bf91f48b/68747470733a2f2f692e696d6775722e636f6d2f383641444642532e706e67" alt="" data-canonical-src="https://i.imgur.com/86ADFBS.png" style="max-width:100%;"></a></td>
</tr>
<tr>
<td align="left">Windows Terimal</td>
<td>Any</td>
<td>32x, 64x</td>
<td align="center"><a target="_blank" rel="noopener noreferrer" href="https://camo.githubusercontent.com/d2a3fb981065c621df0195d307f6ffae9bef8e9479388426a94e21c1bf91f48b/68747470733a2f2f692e696d6775722e636f6d2f383641444642532e706e67"><img src="https://camo.githubusercontent.com/d2a3fb981065c621df0195d307f6ffae9bef8e9479388426a94e21c1bf91f48b/68747470733a2f2f692e696d6775722e636f6d2f383641444642532e706e67" alt="" data-canonical-src="https://i.imgur.com/86ADFBS.png" style="max-width:100%;"></a></td>
</tr>
<tr>
<td align="left">PowerShell</td>
<td>Any</td>
<td>N/A</td>
<td align="center"><a target="_blank" rel="noopener noreferrer" href="https://camo.githubusercontent.com/1799ff3ebc302b04bb937da012bf24db0bfe3ae005ab48b7d696fb103581c434/68747470733a2f2f692e696d6775722e636f6d2f6c4850534372432e706e67"><img src="https://camo.githubusercontent.com/1799ff3ebc302b04bb937da012bf24db0bfe3ae005ab48b7d696fb103581c434/68747470733a2f2f692e696d6775722e636f6d2f6c4850534372432e706e67" alt="" data-canonical-src="https://i.imgur.com/lHPSCrC.png" style="max-width:100%;"></a></td>
</tr>
<tr>
<td align="left">Msys</td>
<td>Any</td>
<td>N/A</td>
<td align="center"><a target="_blank" rel="noopener noreferrer" href="https://camo.githubusercontent.com/1799ff3ebc302b04bb937da012bf24db0bfe3ae005ab48b7d696fb103581c434/68747470733a2f2f692e696d6775722e636f6d2f6c4850534372432e706e67"><img src="https://camo.githubusercontent.com/1799ff3ebc302b04bb937da012bf24db0bfe3ae005ab48b7d696fb103581c434/68747470733a2f2f692e696d6775722e636f6d2f6c4850534372432e706e67" alt="" data-canonical-src="https://i.imgur.com/lHPSCrC.png" style="max-width:100%;"></a></td>
</tr>
<tr>
<td align="left">FreeBSD</td>
<td>Any</td>
<td>32x, 64x</td>
<td align="center"><a target="_blank" rel="noopener noreferrer" href="https://camo.githubusercontent.com/1799ff3ebc302b04bb937da012bf24db0bfe3ae005ab48b7d696fb103581c434/68747470733a2f2f692e696d6775722e636f6d2f6c4850534372432e706e67"><img src="https://camo.githubusercontent.com/1799ff3ebc302b04bb937da012bf24db0bfe3ae005ab48b7d696fb103581c434/68747470733a2f2f692e696d6775722e636f6d2f6c4850534372432e706e67" alt="" data-canonical-src="https://i.imgur.com/lHPSCrC.png" style="max-width:100%;"></a></td>
</tr>
<tr>
<td align="left">Orcale</td>
<td>Any</td>
<td>32x, 64x</td>
<td align="center"><a target="_blank" rel="noopener noreferrer" href="https://camo.githubusercontent.com/1799ff3ebc302b04bb937da012bf24db0bfe3ae005ab48b7d696fb103581c434/68747470733a2f2f692e696d6775722e636f6d2f6c4850534372432e706e67"><img src="https://camo.githubusercontent.com/1799ff3ebc302b04bb937da012bf24db0bfe3ae005ab48b7d696fb103581c434/68747470733a2f2f692e696d6775722e636f6d2f6c4850534372432e706e67" alt="" data-canonical-src="https://i.imgur.com/lHPSCrC.png" style="max-width:100%;"></a></td>
</tr>
<tr>
<td align="left">ClearOS</td>
<td>Any</td>
<td>N/A</td>
<td align="center"><a target="_blank" rel="noopener noreferrer" href="https://camo.githubusercontent.com/1799ff3ebc302b04bb937da012bf24db0bfe3ae005ab48b7d696fb103581c434/68747470733a2f2f692e696d6775722e636f6d2f6c4850534372432e706e67"><img src="https://camo.githubusercontent.com/1799ff3ebc302b04bb937da012bf24db0bfe3ae005ab48b7d696fb103581c434/68747470733a2f2f692e696d6775722e636f6d2f6c4850534372432e706e67" alt="" data-canonical-src="https://i.imgur.com/lHPSCrC.png" style="max-width:100%;"></a></td>
</tr>
</tbody>
</table>
<h2><a id="user-content-installation" class="anchor" aria-hidden="true" href="#installation"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg></a>Installation</h2>
<p>Now that you've checked that your system is suported above, you can move forward with your install. If your a beginner installing Pipeboard, please read our detailed guide, <a href="https://github.com/pipeboard/pipeboard/wiki/getting-started">Getting Started</a> on the Wiki, which has step-by-step instructions for every platform.
<br></p>
<ul>
<li>
<p>Check that your OS is supported.</p>
</li>
<li>
<p>Install Pipeboard through NPM or directly from the repo.</p>
<pre><code>npm install pipeboard

# OR

wget https://github.com/Pipeboard/Pipeboard.git
unzip pipeboard-master.zip
cd pipeboard-master
</code></pre>
</li>
<li>
<p>Unpack and check download and files.</p>
<pre><code>pipeboard check #confirms all assets
pipeboard update (optional)
</code></pre>
</li>
<li>
<p>Prep for running &amp; installation.</p>
<pre><code>pipeboard prep
</code></pre>
</li>
<li>
<p>Setup your Pipeboard install.</p>
<pre><code>pipeboard setup
</code></pre>
</li>
<li>
<p>Run Pipeboard in demo mode to catch any errors.</p>
<pre><code>pipeboard run
</code></pre>
</li>
<li>
<p>Put on a docker, optionally.</p>
<pre><code>pipeboard run -bg
</code></pre>
</li>
<li>
<p>Confirm your Pipeboard installation is running and head to <a href="https://localhost" rel="nofollow">localhost</a> (or <a href="https://pipeboard.dev" rel="nofollow">pipeboard.dev</a> if you already enabled the DNS engine) to setup the panel.</p>
</li>
<li>
<p>Setup docked engines and modules, if you haven't already done so.</p>
<pre><code>pipeboard mods install -all
</code></pre>
</li>
<li>
<p>Have fun with Pipeboard and make the web your oyster! :)</p>
</li>
</ul>
<h2><a id="user-content-downloads" class="anchor" aria-hidden="true" href="#downloads"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg></a>Downloads</h2>
<details>
<summary>
  <b>
     <span>Version 0.1.3</span> - <g-emoji class="g-emoji" alias="-1" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f44e.png">👎</g-emoji>
  </b>
  <br>
  <div width="30px"></div>Unusable (at the moment), WIP
</summary>
<br>
<p><strong>Npm Registry</strong> - <a href="https://npm.com/package/pipeboard-0.1.3" rel="nofollow">https://npm.com/package/pipeboard-0.1.3</a><br>
<strong>JS Delivr</strong> - <a href="https://jsdelivr.com/package/npm/pipeboard-0.1.3" rel="nofollow">https://jsdelivr.com/package/npm/pipeboard-0.1.3</a><br>
<strong>Openbase<span>.</span>io</strong> - <a href="https://openbase.io/js/pipeboard-0.1.3" rel="nofollow">https://openbase.io/js/pipeboard-0.1.3</a><br>
<strong>Github</strong> - <a href="https://github.com/Pipeboard/Pipeboard/releases/tag/v0.1.3">https://github.com/Pipeboard/Pipeboard/releases/tag/v0.1.3</a></p>
<p><em>Links may not be active yet!</em></p>
</details>
<details>
<summary>
  <b>
     <span>Version 0.1.2</span> - <g-emoji class="g-emoji" alias="-1" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f44e.png">👎</g-emoji>
  </b>
  <br>
  <div width="30px"></div>Unusable, Unfinished
</summary>
<br>
<p><strong>Npm Registry</strong> - <a href="https://npm.com/package/pipeboard-0.1.2" rel="nofollow">https://npm.com/package/pipeboard-0.1.2</a><br>
<strong>JS Delivr</strong> - <a href="https://jsdelivr.com/package/npm/pipeboard-0.1.2" rel="nofollow">https://jsdelivr.com/package/npm/pipeboard-0.1.2</a><br>
<strong>Openbase<span>.</span>io</strong> - <a href="https://openbase.io/js/pipeboard-0.1.2" rel="nofollow">https://openbase.io/js/pipeboard-0.1.2</a><br>
<strong>Github</strong> - <a href="https://github.com/Pipeboard/Pipeboard/releases/tag/v0.1.2">https://github.com/Pipeboard/Pipeboard/releases/tag/v0.1.2</a></p>
</details>
<details>
<summary>
  <b>
     <span>Version 0.1.1</span> - <g-emoji class="g-emoji" alias="-1" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f44e.png">👎</g-emoji>
  </b>
  <br>
  Unusable, Unfinished
</summary>
<br>
<p><strong>Npm Registry</strong> - <a href="https://npm.com/package/pipeboard-0.1.1" rel="nofollow">https://npm.com/package/pipeboard-0.1.1</a><br>
<strong>JS Delivr</strong> - <a href="https://jsdelivr.com/package/npm/pipeboard-0.1.1" rel="nofollow">https://jsdelivr.com/package/npm/pipeboard-0.1.1</a><br>
<strong>Openbase<span>.</span>io</strong> - <a href="https://openbase.io/js/pipeboard-0.1.1" rel="nofollow">https://openbase.io/js/pipeboard-0.1.1</a><br>
<strong>Github</strong> - <a href="https://github.com/Pipeboard/Pipeboard/releases/tag/v0.1.1">https://github.com/Pipeboard/Pipeboard/releases/tag/v0.1.1</a></p>
</details>
<h2><a id="user-content-screenshots" class="anchor" aria-hidden="true" href="#screenshots"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg></a>Screenshots</h2>
<p>Nothing here, just yet... :)</p>
<h2><a id="user-content-tutorials" class="anchor" aria-hidden="true" href="#tutorials"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg></a>Tutorials</h2>
<p>Nothing here, just yet... :)</p>
<h2><a id="user-content-addons" class="anchor" aria-hidden="true" href="#addons"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg></a>Addons</h2>
<p>Nothing here, just yet... :)</p>
<h2><a id="user-content-contributors" class="anchor" aria-hidden="true" href="#contributors"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg></a>Contributors</h2>
<p>If your intrested in becoming a Pipeboard developer, please reach out. We do not list issue-trackers or fork/pull request-ers here.</p>
<table>
<thead>
<tr>
<th>Name</th>
<th>Username</th>
<th>Role</th>
</tr>
</thead>
<tbody>
<tr>
<td>Nathanna</td>
<td><a href="https://github.com/nathannaofficial.com">@nathannaofficial</a></td>
<td>Lead Developer &amp; Creator</td>
</tr>
</tbody>
</table>
<h2><a id="user-content-lisence" class="anchor" aria-hidden="true" href="#lisence"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg></a>Lisence</h2>
<p>Pipeboard and all official resources are lisenced under CC0-1.0 or "Creative Commons Zero v1.0 Universal". Please see the <a href="/Pipeboard/Pipeboard/blob/stable/LICENSE">LISENCE</a> file for more details and information.</p>
<h2><a id="user-content-resources" class="anchor" aria-hidden="true" href="#resources"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg></a>Resources</h2>
<p><strong>Website</strong> - <a href="https://pipeboard.org" rel="nofollow">https://pipeboard.org</a><br>
<strong>Github Page</strong> - <a href="https://github.com/Pipeboard">https://github.com/Pipeboard</a><br>
<strong>Twitter Page</strong> - <a href="https://twitter.com/PipeboardProject" rel="nofollow">https://twitter.com/PipeboardProject</a><br>
Facebook Page - <a href="https://facebook.com/Pipeboard-105017771541767" rel="nofollow">https://facebook.com/Pipeboard-105017771541767</a><br>
<strong>NPM Page</strong> - <a href="https://npmjs.com/org/pipeboard" rel="nofollow">https://npmjs.com/org/pipeboard</a></p>
<h2><a id="user-content-repositories" class="anchor" aria-hidden="true" href="#repositories"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg></a>Repositories</h2>
<p>Don't like GitHub? Don't worry, you can find us at other locations too.</p>
<p><strong>BitBucket</strong> - <a href="https://bitbucket.io/Pipeboard/Pipeboard" rel="nofollow">https://bitbucket.io/Pipeboard/Pipeboard</a><br>
<strong>GitLabs</strong> - <a href="https://gitlabs.com/Pipeboard/Pipeboard" rel="nofollow">https://gitlabs.com/Pipeboard/Pipeboard</a><br>
<strong>Sourceforge</strong> - <a href="https://sourceforge.net/projects/pipeboard" rel="nofollow">https://sourceforge.net/projects/pipeboard</a></p>
</article>
  </div>